
:root {
  --form-width: 500px;
}

button {
  cursor: pointer;
  border-radius: 5px;
  background-color: #9ba1ac;
  border: none;
  padding: 5px 20px;
}

button:hover {
  filter: brightness(1.3);
}

/* Formulário */

.formContainer {
  background-color: #282c34;
  width: var(--form-width);
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: white;
}

.formContainer form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}

.formContainer form input {
  width: 300px;
  border-radius: 5px;
}

.formContainer form input:nth-of-type(3) {
  width: 60px;
}

.formContainer form button {
  display: block;
  margin-top: 25px;
}



/* Lista de Produtos */

.listContainer {
  background-color: #282c34;
  width: 700px;
  padding: 20px 10px;
  margin: 5rem auto;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  flex-wrap: wrap;
  color: white;
}

.listContainer h1 {
  min-width: 50%;
  text-align: center;
}
.listContainer ul {
  padding: 0;
  width: 100%;
  list-style: none;
  text-align: center;
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.listContainer ul li {
  background-color: #9ba1ac;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.listContainer ul li div {
  text-align: center;
  width: 50%;
}

.displayNone {
  display: none;
}
